html,body {
	height: 100%;
}

body {
	text-align: center;
}

button {
	display: block;
	margin: 33vh auto 1em;
	font-size: 2em;
	font-family: sans-serif;
	padding: 1em;
	border-radius: 1em;
	background: #eee;
	border: 2px solid black;
}

label:hover,button:enabled:hover {
	background: #ccc;
}

label:active,button:enabled:active {
	color: white;
	background: #aaa;
}

label {
	display: inline-block;
	font-size: 2em;
	font-family: sans-serif;
	padding: 1em;
	border-radius: 1em;
	background: #eee;
	border: 2px solid black;
	box-sizing: border-box;
	user-select: none;
}

input {
	display: none;
}
